<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <div>
        <% include partials/nav %>
        <h4>Thank for contact us!</h4>
    </div>
    <div>
        <h3>Contact Information</h3>
        <p><strong>Name: </strong><%= data.username %></p>
        <p><strong>Department: </strong><%= data.dept %></p>
        <p><strong>Email: </strong><%= data.email %></p>
    </div>
</body>

</html>